/*.CreateCardContainer {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.CreateCardContainer {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: pink;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title */
h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Form group styling */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-size: 1rem;
    font-weight: 600;
    color: #555;
}

.form-group input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

button {
    padding: 12px;
    font-size: 1rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

@media (max-width: 600px) {
    div {
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .form-group input,
    button {
        font-size: 0.9rem;
        padding: 10px;
    }
}
